*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background: #e3edf7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill{
    width: 10.5vw;
    height: 10.5vw;
    /* background: cornflowerblue; */
    position: relative;
}
.outer{
    height: 10.5vw;
    width: 10.5vw;
    border-radius: 50%;
    padding: 1.3vw;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.inner{
    height: 7.8vw;
    width: 7.8vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
#number{
    font-weight: 600;
    font-size: 1.1vw;
    color: #555;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
}
circle{
    fill:none;
    stroke-width: 1.2vw;
    stroke: url(#GradientColor);
    stroke-dasharray: 435;
    stroke-dashoffset: 435;
    animation: anim 2s linear forwards;
}
@keyframes anim {
    100%{
        stroke-dashoffset: 152.25;
    }
}
/* Responsive Code */
/* @media (max-width: 991.98px) { 
   .skill{
        width: 35vw;
        height: 35vw;
        background: cornflowerblue;
    }
    .outer{
        height: 35vw;
        width: 35vw;
        padding: 2.9vw;
    }
    .inner{
        height: 29vw;
        width: 29vw;
    }
    #number{
        font-size: 3vw;
    }
    svg{
        top: 0;
        left: 25%;
    }
    circle{
        stroke-width: 2.5vw;
    } 
}
@media (max-width: 767.98px) { 
    
}
@media (max-width: 575.98px) { 
    
}
@media (max-width: 480.98px) { 
    
} */

